.logout-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Black opaque background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.logout-modal-box {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.logout-q{
    color: black;
}

.logout-modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.logout-modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.yes-btn {
    background-color: #e74c3c;
    color: white;
}

.no-btn {
    background-color: #bdc3c7;
    color: #333;
}