.reported-layout {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    height: 100vh;

    .reported-side {
        display: flex;
        flex: 3;
        overflow: hidden;
    }

    .reported-content {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
    }
}

.reported-issues-cont{
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 60rem;
    margin-top: 10rem;
    margin-left: 20rem;
    padding: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 10rem;
    overflow-y: auto;

    .reported-heading{
        font-size: 50px;
        text-align: center;
        margin-bottom: 10px;
        color: #1e3a8a;
    }

    .issue-card{
        border: 1px solid #ddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 30px;

        .issue-type{
            font-size:25px;
            margin-bottom: 15px;
        }

        .issue-info{
            font-size: 20px;
        }

        .issue-date{
            font-size: 20px;
        }

        .priority{
            font-size: 20px;
            margin-bottom: 15px;
            text-align: center;
        }

        .priority.high{
            border: 1px solid rgba(255, 0, 0, 0.5);
            border-radius: 20px;
            background-color: rgba(255, 0, 0, 0.5);
            width: 7rem;
            color: red;
            padding: 5px;
        }

        .priority.medium{
            border: 1px solid rgba(255, 165, 0, 0.5);
            border-radius: 20px;
            background-color: rgba(255, 165, 0, 0.5);
            width: 7rem;
            color: orange;
            padding: 5px;
        }

        .priority.low{
            border: 1px solid rgba(173, 216, 230, 0.5);
            border-radius: 20px;
            background-color: rgba(173, 216, 230, 0.5);
            width: 7rem;
            color: blue;
            padding: 5px;
        }
    }

}