.view-tt-layout {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    height: 100vh;

    .view-tt-side {
        display: flex;
        flex: 3;
        overflow: hidden;
    }

    .view-tt-content {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
    }
}

.tt-view{
    margin-top: 100px;
    height: 85vh;
    width: 80vw;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;

    .lec-timetable{
        border: 1px #000000;
    }

    .tt-headings {
        color: #1e3a8a;
        font-size: 70px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    td {
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }

    th{
        height: 40px;
        background-color: #1E90FF;
        color: white;
        font-size: 20px;
    }
}